.div-button {
  padding: 2rem;
  border-radius: 1rem; 
  pointer-events: visible;
  background: white;
  margin: 0.5rem;
  color: rgba(0,0,0,0.6);
  font-weight: bold;
}

.double {
  padding-left: 5rem;
  padding-right: 5rem;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: rgba(256,256,256,0.6);
}

.row {
  display: flex;
  flex-direction: row;
}

.input {
  max-width: 6rem;
  border-radius: 1rem;
  padding: 2rem 9.5rem;
  color: rgba(0,0,0,0.6);
  background: white;
  margin: 0.5rem;
}