.AboutUs {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 2rem 0rem 2rem 0rem;
  scroll-margin-top: 10rem;
  text-align: justify;
  text-justify: inter-word;
}
.Text {
  margin: 1.5rem 0 1rem 0;
}

.AboutUs p:not([class]) {
  margin-bottom: 1rem;
}