.Media {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 2rem 0rem 2rem 0rem;
    scroll-margin-top: 10rem;
  }
  .Text {
    margin: 1.5rem 0 1rem 0;
  }

  .ReactPlayerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ReactPlayer {
    margin: 1rem;
  }