html,
#root{
  height: 100vh;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--color4)
}


:root {
  --color1: #132921;
  --color2: #2f4d43;
  --color3: #71897b;
  --color4: #c5d1cd;
  --color5: #ddd8d4;
  --color6: #b4afab;
  --color7: #a94f00;
}