.board {
  display: flex;
  flex-direction: column;

  border: solid black 1px;
  width: fit-content;
}

.row {
  display:flex;
}

.box {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    padding: 1rem;
    border: solid black 1px;
    width: 3rem;
    height: 3rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
  height: 2rem;
  width: 6rem;
  border: solid black 1px;
  font-weight: bold;
  font-size: medium;
  background-color: white;
  margin-top: 1.2rem;
}