.Swiper {
  width: 100%;
  height: 50rem;
  margin-top: 8rem;
}

.img {
  height: 800px;
  width: 100%;
  object-fit: cover;
}

.swyperSlide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
}