.footer {
  display: flex;
  flex-direction: row;
  height: 6rem;
  width: 90%;
}

.leftFooter {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.rightFooter {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}