.ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 40rem;
  justify-content: space-evenly;
}

.nav{
  display: flex;
  align-items: stretch;
  overflow: visible;
  width: auto;
}

.top {
  width: 100%;
  height: 8rem;
  background-color: var(--color2);
  position: fixed;
  top: 0;
  z-index:99999999999;
  display: flex;
  justify-content: center;
  overflow: visible;
}

.Logo{
  width: 8rem;
  height: 11rem;
  margin-top: 0.7rem;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0.8, 0.5));
}

.link {
  color: var(--color5) !important;
}