* {
  font-family: Roboto;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ex {
  border: solid 1px black;
  width: 60%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

input[type="button"] {
  margin-top: 1rem;
}
