.h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.wrapper {
  display: flex;
  padding: 2rem;
  margin: 2rem;
  justify-content: center;
  flex-direction: column;
  scroll-margin-top: 9rem;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}