.ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-evenly;
  width: 17rem;
}

.ul:hover .icons {
  opacity: 0.7
}

.icons {
  width: 2rem;
  height: 2rem;
}

.icons:hover {
  opacity: 1 !important
}

.ulVertical {
  flex-direction: column;
  width: auto;
  height: 17rem;
}

.ulAnchorRight {
  position: fixed;
  right: 0rem;
  bottom: 0rem;
}

.ulHide {
  display: none;
}